<div class="container">
    <div class="col">
        <div class="col-md-3">
        <button mat-raised-button color="primary" class="justify-content-center mt-5" routerLink="addProduct">Add
            Product</button>
    </div>
    <div class="row mt-4">
        <div class="col-md-3" *ngFor="let product of productArr">
            <mat-card class="mat-fixed-card mb-3 shadow-sm border">
                <mat-card-header>
                    <img mat-card-image [src]="product.imageUrl" [alt]="product.imageUrl">
                </mat-card-header>
                <mat-card-content>
                    <mat-card-title class="mt-2" class="text-primary">{{product.name}}</mat-card-title>
                    <mat-card-subtitle>{{product.brand}}</mat-card-subtitle>
                    <p class="fw-bold">
                        {{product.price | currency : 'INR'}}
                    </p>
                </mat-card-content>
                <mat-card-actions class="justify-content-center mb-2">
                    <button mat-raised-button color="primary" class="mr-2" [routerLink]="product.id"
                        [queryParams]="{role : product.role}">
                        <mat-icon>shopping_cart</mat-icon> Buy
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    </div>
</div>
 <div class="col">
        <router-outlet></router-outlet>
    </div>

