<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActiveOptions]="{exact : true}" routerLink="home"
          routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="users" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin" routerLinkActive="active">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="fairs" routerLinkActive="active">Fairs</a>
      </li>
    </ul>
    
  </div>
  <button class="btn btn-sm btn-primary" (click)="onLogOut()">Log Out</button>
</nav>

<router-outlet></router-outlet>