<app-back-button></app-back-button>
<div class="col-md-4">
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{userInfo.userName}}</h4>
            <p>The User role is {{userInfo.userRole}}</p>
            <div>
                <button class="btn btn-sm btn-primary mr-2" routerLink="edit">Edit</button>
                <!-- <button class="btn btn-sm btn-primary mr-2" [routerLink]="['/users',userId,'edit']">Edit</button> -->
                <button class="btn btn-sm btn-danger" (click)="onRemove()">Remove</button>
            </div>
        </div>

    </div>
</div>
<ng-template #noUserDetails>
    <p class="alert alert-info">No User Avaliable</p>
</ng-template>

<!-- [routerLink]="['/user',userId,'edit']" -->