<h4 class="text-center text-primary mt-5">{{isEditMode ? 'Update Product' : 'Add Product'}}</h4>

<div class="row justify-content-center">
    <app-back-button></app-back-button>
    <div class="col-md-6">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="productForm" (ngSubmit)="onProductAdd()">
                    <mat-form-field>
                        <mat-label>Product Image</mat-label>
                        <input matInput formControlName="imageUrl">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Product Name</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Brand Name</mat-label>
                        <input matInput formControlName="brand">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Price</mat-label>
                        <input matInput formControlName="price">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Discount</mat-label>
                        <input matInput formControlName="discount">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Rating</mat-label>
                        <input matInput formControlName="rating">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Stock</mat-label>
                        <input matInput formControlName="stock">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Product Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option value="Dispatched">Dispatched</mat-option>
                            <mat-option value="InProgress">InProgress</mat-option>
                            <mat-option value="Delivered">Delivered</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button class="mr-2" [type]="isEditMode ? 'button' : 'submit'" color="primary" (click)="onUpdate()" [disabled]="updateBtnFlag">{{isEditMode ? 'Update Product' : 'Add Product'}}</button>
                    <button mat-raised-button type="button" color="warn" >Remove</button>
                </form>
                <!-- {{productEditForm.value | json}} -->
            </mat-card-content>
        </mat-card>
    </div>
</div>

<button type=""></button>
